themeName='tinymce'
activeColor = #06c
borderColor = #ccc
activeBgColor = #dee0e2
backgroundColor = #fff
inactiveColor = #444
shadowColor = #ddd
textColor = #444

@import './base'
@import './core'
@import './tinymce/*'

.ql-container.ql-tinymce
  border: 1px solid borderColor