.ql-menu [class^=ql-menu].is-active
  background-color: activeBgColor
.ql-tinymce.ql-tinymce-popper
  position: absolute
  z-index: 1201
  top: 0
  left: 0
  display: none
  border: 1px solid #ccc
  background-color: backgroundColor
  border-radius: 3px
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
  &.is-active
    display: block
  .ql-group
    display: block
    border-bottom: 1px solid #ccc
    padding: 3px 0
    &:nth-last-child(1)
      border-bottom: none
    div[class^=ql-menu]
      display: flex
      height: auto
      line-height: 24px
      padding: 4px 8px
      cursor: pointer
      &:hover
        background-color: activeBgColor
      .popper-item-icon, .popper-item-check
        width: 24px
        height: 24px
        display: flex
        justify-content: center
        align-items: center
      .popper-item-check
        margin-left: 10px
      .popper-item-label
        flex: 1
        font-size: 14px
        font-weight: 400
        margin-left: 5px
      .popper-item-keyboard
        color: rgba(34,47,62,.7);
        display: inline-block;
        font-size: 14px;
        height: 24px;
        line-height: 24px;
        text-transform: none;